<%= @latest.each do |post| %>



<div class="span-12">
  <h1>Where the scroll will go</h1>
</div>
<div class="span-6">
  <ul>
    <li><h1><%= post.title %></h1></li>
  </ul>
</div>


<% end %>