<body>
  <div class="span-5">
    <img src="#"/>
  </div>
  <div class="span-13 last">
    <h1>This is BOB</h1>
    <p>This is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOB</p>  
  </div>
 <hr/>
  <div class="span-5">
    <img src="#"/>
  </div>
  <div class="span-13 last">
    <h1>This is BOB</h1>
    <p>This is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOB</p> 
  </div>
  <hr/>
  <div class="span-5">
    <img src="#"/>
  </div>
  <div class="span-13 last">
    <h1>This is BOB</h1>
    <p>This is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOBThis is the description of said BOB</p>  
  </div>
</body>