<div class="span-18">
  </div>
  <footer>
    <ul>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </footer>
  </div>